.indexpage {
    .appBar {
        height:40px;
        width: 700px;
        margin-left: 200px;
        .line {
          min-height:40px;
        }
        .appItem {
            padding-top:0px;
        }
    }
    .drawer {
        position: relative;
        div {
          background-color: #424242;
        }
        .first {
            margin-top:20px;
            width:200px;
        }
        .drawerItem {
            padding: 0;
            height: 40px;
            -webkit-app-region: no-drag;
            .drawerItemBtn {
              height: 40px;
            }
        }
    }
    .content {
        margin-top: 10px;
        margin-left: 210px;
        width: 680px;
    }
}
